fastapi==0.116.1
uvicorn[standard]==0.30.0
redis==5.0.7
pytest==8.2.0
pytest-asyncio==0.23.7
anyio==4.4.0
httpx==0.28.1
librosa==0.11.0
pydantic_settings==2.10.1
Requests==2.32.4
starlette==0.47.2
torch==2.8.0
python-multipart==0.0.7
python-dotenv==1.0.0
pandas==2.2.3
numpy==1.26.4
kaggle>=1.7.4.5
fakeredis==2.23.2
transformers>=4.30.0
soundfile>=0.12.0
